<%- include('partials/header') %>

<h2 class="mb-4 text-primary">Empleados registrados</h2>

<!-- Lista de usuarios -->
<ul class="list-group mb-4 shadow-sm">
  <% if (empleados.length > 0) { %>
    <% empleados.forEach(usuario => { %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span><strong><%= empleado.nombre %></strong> - <%= usuario.email %></span>
        <a href="/empleados/editar/<%= empleado.id %>" class="btn btn-sm btn-warning">Editar</a>
        <a href="/empleados/eliminar/<%= empleado.id %>" class="btn btn-sm btn-danger">Eliminar</a>
      </li>
    <% }); %>
  <% } else { %>
    <li class="list-group-item text-muted">No hay usuarios registrados.</li>
  <% } %>
</ul>

<!-- Formulario para añadir nuevo usuario -->
<div class="card shadow">
  <div class="card-body">
    <h5 class="card-title">Añadir nuevo usuario</h5>
    <form action="<%= action || '/empleados/crear'%>" method="POST" class="row g-3 mt-3">
      <div class="col-md-6">
        <label for="dni" class="form-label">Dni</label>
        <input type="text" name="dni" id="dni" class="form-control" 
        value="<%= empleado.dni || '' %>" required>
      </div>
      <div class="col-md-6">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" name="nombre" id="nombre" class="form-control" 
        value="<%= empleado.nombre || '' %>" required>
      </div>
      <div class="col-md-6">
        <label for="email" class="form-label">Correo electrónico</label>
        <input type="email" name="email" id="email" class="form-control" 
        value="<%= empleado.email || '' %>"required>
      </div>
      <div class="col-12 text-end">
        <button type="submit" class="btn btn-success"><%= empleado.id?'Actualizar':'Crear'%></button>
      </div>
    </form>
  </div>
</div>

<%- include('partials/footer') %>
